<!doctype html>
<html>
	<head>
		<title> Cortex: {{username}} </title>
		<link rel="stylesheet" href='/static/styles.css'>
		<base href="/users/{{user_id}}/" />
	</head>
	<body align="center">
		<h1 align="center"> Cortex User {{username}} </h1>
		<br>
		<a href="snapshots" size="14"> View All Snapshots</a><br><br>
	<table align="center">
<!--		<th colspan="2"> User Details </th>-->
<!--	{% for key, value in user_details.items() %}-->
<!--		<tr>-->
<!--			<td> {{key}} </td>-->
<!--			<td> {{value}} </td>-->
<!--		</tr>-->
<!--	{% endfor %}-->
		<tr>
			<th colspan="3"> User Details</th>
		</tr>
		<tr>
		{% for key in user_details.keys() %}
			<td> {{key}}</td>
		{% endfor %}
		</tr>
		<tr>
		{% for value in user_details.values() %}
			<td> {{value}}</td>
		{% endfor %}
		</tr>

		 </table>
		<br>
	<h3 align="center"> Feelings Graphs</h3>
	<h4 align="center"> click on points in the graph to see what the user was seeing at every point.
	<br>
	This way, you can know what caused each change in his feelings. <br>
	Inside each image you will see its' exact timestamp.</h4>
	<table align="center">
	{% for i in range(0, graphs_names|length, 2) %}
		<tr>
			<td> <div id="{{graphs_names[i]}}" align="center"></div> </td>
			<td> <div id="{{graphs_names[i+1]}}" align="center"></div> </td>
		</tr>
	{% endfor %}
<!--	{% for graph in graphs_names %}-->
<!--		<div id="{{graph}}" align="center"></div>-->
<!--	{% endfor %}-->
	</table>
		<br><br>
<!--	<div id="graph" align="center"></div>-->
	<br>
		<br>
	<a href="/"> Return to Homepage </a>
	</body>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};

        var graphs_names = {{graphs_names | safe}};

<!--        Plotly.plot('graph',[graphs[0].data], graphs[0].layout);-->
<!--        //Plotly.plot('graph',graphs[0].data, graphs[0].layout);-->

		for(var i in graphs) {
			Plotly.plot(graphs_names[i], [graphs[i].data], graphs[i].layout);
			var data = graphs[i].data;
			var myPlot = document.getElementById(graphs_names[i]);
			myPlot.on('plotly_click', function(data){
			var pts = '';
			var pt_x = '';
			for(var i=0; i < data.points.length; i++){
				pts = 'x = '+data.points[i].x +'\ny = '+
					data.points[i].y.toPrecision(4) + '\n\n';
				pt_x = data.points[i].x;
			}
			image_dict = {{images | safe}};
			window.open(image_dict[pt_x], '_blank');
		});


		}
<!--        var myPlot = document.getElementById('graph');-->
<!--		var data = graphs[0].data;-->

<!--		myPlot.on('plotly_click', function(data){-->
<!--			var pts = '';-->
<!--			var pt_x = '';-->
<!--			for(var i=0; i < data.points.length; i++){-->
<!--				pts = 'x = '+data.points[i].x +'\ny = '+-->
<!--					data.points[i].y.toPrecision(4) + '\n\n';-->
<!--				pt_x = data.points[i].x;-->
<!--			}-->
<!--			image_dict = {{images | safe}};-->
<!--			window.open(image_dict[pt_x], '_blank');-->
<!--		});-->

    </script>
</html>
